<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Valet Parking Dashboard</title>
</head>

<body id="body">
    <header id="header">
        <h1>Valet Parking</h1>
    </header>

    <main id="main">
        <div class="box">
            <div>
                <h2 style="padding-left: 20px;">Dashboard</h2>
            </div>
            <div class="checkinbutton">
                <form action="/checkin">
                    <button>+ Check in</button>
                </form>
            </div>
        </div>
        <div>
            <table class="entries">
                <th>Vehicle No</th>
                <th>Vehicle Model</th>
                <th>Vehicle Type</th>
                <th>Customer Name</th>
                <th>Phone</th>
                <th>Checkin</th>
                <th>Actions</th>
                    <%vehiclelist.forEach(vehicle=>{%>
                        <tr>
                            <td><%= vehicle.VehicleNumber%></td>
                            <td><%= vehicle.VehicleModel%></td>
                            <td>
                                <div class="typedec">
                                    <%= vehicle.VehicleType%>
                                </div>
                            </td>
                            <td><%= vehicle.CustomerName%></td>
                            <td><%= vehicle.CustomerNumber%></td>
                            <td><%= vehicle.CheckinTime%></td>
                            <td><a href="/checkout?id=<%= vehicle._id%>">Check out</a></td>
                        </tr>
                    <%})%>
            </table>
        </div>
    </main>
</body>

</html>